<template>
  <transition>
    <div
      class="bar"
      v-bind:style="styles"
    >
    <span class="title">{{title}}</span>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'Bar',
  props: ['title', 'color', 'width'],
  computed: {
    styles() {
      return {
        'background-color': `#${this.color}`,
        width: `${this.width}%`,
      };
    },
  }
}
</script>

<style lang="scss" scoped>
  .bar {
    display: flex;
    align-items: center;
    justify-content: start;

    height: 25px;
    border: 1px solid lightgray;

    transition: width 1.9s;
  }

  .title {
    position: static;
  }
</style>