

<template>
  <div class="main">
    <div>{{ title }}</div>
    <div class="content">
      <bar
        v-for="item in data"
        v-bind:key="item.title"
        v-bind:title="item.title"
        v-bind:width="item.percentage"
        v-bind:color="item.color"
      />
    </div>
    <div class="currentYear">{{currentYear}}</div>
    <div class="buttons">
      <button v-bind:class="togglePlayClass" v-on:click="togglePlay" />
    </div>
  </div>
</template>

<script>
import Bar from './Bar/Bar.vue';
import mock from '../mocks';

const getCurrentYearData = (year) => {
  const array = mock.SUBJECTS.reduce(
    (acc, { ID, color }, index) => {
      const percentage = mock.RELATIONS[ID][year] || mock.RELATIONS[ID][year - 1];
      acc.push({ title: ID, color, percentage });

      return acc;
    },
    [],
  );

  return array.sort((a, b) => b.percentage - a.percentage);
};

const defaults = {
  currentYear: Math.min(...mock.YEARS),
  maxYear: Math.max(...mock.YEARS),
  intervalPointer: null,
  title: mock.LABEL,
};

export default {
  name: 'Main',
  components: { Bar },
  data () {
    return { ...defaults }; // cloneDeep?
  },
  computed: {
    data() {
      return getCurrentYearData(this.currentYear);
    },
    togglePlayClass() {
      return `playPauseButton ${this.intervalPointer ? 'pauseButton' : ''}`;
    }
  },
  methods: {
    togglePlay() {
      if (this.intervalPointer) {
        clearInterval(this.intervalPointer);
        this.intervalPointer = defaults.intervalPointer;
      } else {
        this.intervalPointer = setInterval(() => {
          const nextYear = this.currentYear + 1;

          if (nextYear <= this.maxYear) {
            this.currentYear = nextYear;
          } else {
            this.currentYear = defaults.currentYear;
          }
        }, 2500);
      }
    },
  },
}
</script>

<style lang="scss" scoped>
  $font-size: 24px;

  .main {
    display: flex;
    flex-direction: column;
  }

  .currentYear {
    font-size: $font-size;
    font-weight: 600;
    color: greenyellow;
  }

  .playPauseButton {
    height: 74px;
    box-sizing: border-box;

    border-width: 37px 0 37px 60px;
    border-style: solid;
    border-color: transparent transparent transparent #202020;

    background-color: transparent;
    cursor: pointer;

    transition: 100ms all ease;
    will-change: border-width;
  }

  .pauseButton {
    border-style: double;
    border-width: 0 0 0 60px;
  }
</style>